<!DOCTYPE html>
<html lang="en" ng-app="fpMeteorology">
<head>
  <title>fpMeteorology</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" href="pure_drawer/dist/css/pure-drawer.css"/>
  <link rel="stylesheet" href="pure_drawer/dist/scss/pure-drawer.scss"/>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>

  <script src="js/app.js"></script>
  <script src="js/looks_controller.js"></script>
  <script src="js/selections_controller.js"></script>
</head>

<div class="pure-container" data-effect="pure-effect-reveal"> 
  <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left"> 
  <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left"> 
    <span class="pure-toggle-icon"></span> 
  </label> 

  <div class="pure-drawer" data-position="left">
    <p>Links Will be Here</p>
  </div>

  <div class="pure-pusher-container">
    <div class="pure-pusher">
      <body>
        <div class="header">
          <img id="logo" src="img/logo.png" class="user-select">
        </div>

        <div ng-controller="LooksController" class="wrapper">

          <div ng-controller="SelectionsController">
            <select ng-model="query.weather" ng-options="weather._id as weather.weather for weather in weathers"></select>
            <select ng-model="query.occasion" ng-options="occasion._id as occasion.occasion for occasion in occasions"></select>
            <select ng-model="query.girls" ng-options="girl._id as girl.name for girl in girls"></select>

            <a href="" ng-click="query = {}">Start Over</a>

            <div class="masonry">
              <div ng-repeat="look in looks | filter:query.weather | filter:query.occasion | filter:query.girls">
                <a href="" ng-click=show(look)><img src="{{look.img_src}}" class="lookThumb"></a>
              </div>
            </div>
          </div>

          <div id="modal">
            <div>
              <p><a href='#' class="close" ng-if="thisLook.img_src" ng-click='close()'>X</a></p>
              <span id="modalImage">
              <img src="{{thisLook.img_src}}">   
              </span>
              <span id="modalText">         
              <ul style="list-style-type:none">
                <li><strong>Occasion: </strong> {{thisLook.occasion.occasion}}</li>
                <li><strong>Weather: </strong> {{thisLook.weather.weather}}</li>
                <li><strong>Inspired By: </strong> {{thisLook.fp_girl.name}}</li>
                <br>
                <li><a href="{{thisLook.fp_link}}" target="_blank"><strong>Click Here to Shop This Look!</strong></a>
              </ul> 
              </span>           
            </div>
          </div>
        </div>

      </body>
    </div>
  </div>
  <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
</div>
</html>