.queries {
  display: block;
  padding-bottom: 25px;
}

#drop-down {
  margin: 0;
  padding: 0;
  list-style: none;
}

#drop-down li {
  float: left;
  background: #4B4B4B;
  position: relative;
  z-index: 500;
  margin: 0 1px;
}

#drop-down li a {
  display: block;
  padding: 6px 5px 0 5px;
  font-weight: 700;
  height: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#drop-down ul {
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none; 
  z-index: 99999; 
}

#drop-down ul li {
  float: left;
  border-top: 1px solid #fff;
  width: 100%;
  white-space: nowrap;
}

#drop-down ul a {
  display: block;
  height: 15px;
  padding:  6px 5px;
  color: #fff;
  text-align: left;
}