body {
  height: 100%;
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  margin: 0;
  padding:0;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header {
  display: block;
  margin: 3em auto;
}

.wrapper{
  max-width: 800px;
  margin: 3em auto;
}

.masonry {
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  column-count: 5;
  column-gap: 10px; 
}

.lookThumb {
  width: 100% !important;
  height: auto !important;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 700px;
}

#modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 99999; 
  background: rgba(0,0,0,0.2);
}

#modal div {
  width: 800px;
  position: relative;
  display: inline-block;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 2px;
  background: #fff;
  text-align: left;
}

#modal img {
  float: left;
  height: 400px;
  background: #fff;
  padding: 1em;
  margin: 0 0 0em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
}

#modal ul {
  display: inline-block;
  padding: 25px;
}

@media (max-width: 1200px) {
  .masonry {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  }
}
@media (max-width: 1000px) {
  .masonry {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  }
}
@media (max-width: 800px) {
  .masonry {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }
}
@media (max-width: 400px) {
  .masonry {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  }
}